:root{
    --cor-primaria: #a34123;
    --cor-analoga1: #cb8404;
    --cor-analoga2: #c47604;
    --cor-complementar: #5377a3;
    --cor-fundo:  #c0a397;

}



.resposive-banner{
    max-width: 100%;
    height: auto;
    display: block;
}

body{
    background-color: var(--cor-fundo);
    font-family: Arial;
    color:#000000
}

header{
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
}

.logo-container{
    width: 100px;
    height: auto;
    margin-left: 15px;
}

nav{
    height: 1000;
}
p{
    text-align: center;
}


h1{
    text-align: center;
}

h2{
    text-align: center;

}

li{
    text-align: center;

}

img{
    display: block;
    margin:auto;
}
